@CHARSET "EUC-KR";

	/* 전체 바디 */
#sey_body{
	border: 1px solid white;
}
	/* -----------------헤드------------------- */
#sey_head{
	height : 150px;
	width : 100%;
	border-bottom: 1px solid white;
}
#sey_head1{
	border-right:1px solid white;
    height : 150px;
	width : 20%;
    float: left;
}
#sey_head2{
	border-right:1px solid white;
    height : 150px;
	width : 55%;
    float: left;
    padding-top : 45px;
    text-align:center;
    font-size : 50px;
    }
#sey_head3{
    height : 150px;
	width : 25%;
    float: left;
}
#sey_head3 div {
	height:50px;
}
#sey_head31{
	border-bottom:1px solid white;
	border-right:1px solid white;
	width : 35%;
    float: left;
    padding-top : 11px;
    text-align:center;
}
#sey_head32{
	border-bottom:1px solid white;
	width : 65%;
    float: left;
    padding-top : 11px;
    text-align:center;
}
	/* -----------------결재칸------------------- */
#sey_sign{
	height : 125px;
	width : 100%;
}
#sey_sign1{
	border-right:1px solid white;
	height : 125px; 
	width : 70%;
	float: left;
	text-align: center;
	padding : 50px;
	font-size: 20px;
}
#sey_sign2{
	height : 125px;
	width : 30%;
	float: left;
}
#sey_appro{
	
	writing-mode: tb-rl;
	padding-right : 7px;
	display:table-cell; 
	text-align:center;
	 vertical-align:middle;
	 width: 13%;
	 float: left;
	 height : 125px;
}
#sey_writer, #sey_appro1, #sey_appro2{
	border-bottom:1px solid white;
	border-left:1px solid white;
	width : 29%;
	float: left;
	height : 25px;
	text-align: center;
}
#sey_date1, #sey_date2, #sey_date3{
	width : 29%;
	border : 1px solid white;
	float: left;
	font-size : 13px;
	height : 25px;
	text-align: center;
	padding: 3px;
}
#sey_stamp1, #sey_stamp2, #sey_stamp3{
	border-left:1px solid white;
	height : 75px;
	width : 29%;
	float: left;
}
	/* -----------------분류칸------------------- */
#sey_classify{
	
	height : 70px;
	width : 100%;
	border : 1px solid white;
}

select  {
	width: 130px;
	height: 30px;
	padding-left: 10px;
	font-size: 18px;
	color : white;
	border: 1px solid white;
	border-radius: 3px;
	outline:none;
	background: black;
	
	}
#sey_sel1, #sey_sel2, #sey_sel3{
	margin-left : 30px;
	padding : 18px;
	float : left;
}


#sey_add{
	margin-left : 50px;
	padding : 25px;
	float : left;
}

.aa {
	clear:both;
}


 #sey_sl_btnInput{
	background-color: black;
	border: 1px solid white;
	font-size: 13px;
	width: 50px;
	cursor: pointer;
	color : white;
}   
	/* -----------------카테고리------------------- */
#sey_subject{
	border-bottom : 1px solid white;
	height : 50px;
	width : 100%;
}
#sey_code{
	display: inline-block;
	height : 50px;
	width : 80px;
	text-align:center;
	padding-top : 14px;
}
#sey_codeName{
	display: inline-block;
	height : 40px;
	width : 140px;
	text-align:center;
	padding : 14px;
}
#sey_custom{
	display: inline-block;
	height : 50px;
	width : 100px;
	text-align:center;
	padding : 14px;
}
#sey_ea{
	display: inline-block;
	height : 50px;
	width : 70px;
	text-align:center;
	padding : 14px;
}
#sey_unit{
	display: inline-block;
	height : 50px;
	width : 120px;
	text-align:center;
	padding : 14px;
}
#sey_total{
	display: inline-block;
	height : 50px;
	width : 150px;
	text-align:center;
	padding : 14px;
}
#sey_saledate{
	display: inline-block;
	height : 50px;
	width : 150px;
	text-align:center;
	padding : 14px;
}
	/* -----------------판매내역내용------------------- */
#sey_sl_content{
	width : 100%;
	font-size : 13px;
	position : relative;
}

#sey_del{
	display: inline-block;
	cursor: pointer;
	height : 50px;
	width : 50px;
	text-align:center;
	padding-top : 15px;
	font-size: 12px;
}
/* -----------------작성완료 버튼------------------- */
#sey_sendBtn{
	padding : 10px;
	margin-left: 400px;
}

 #sey_sl_btnSend{
 	height : 30px;
	background-color: black;
	border: 1px solid white; 
	font-size: 13px;
	width: 70px;
	cursor: pointer; /* 글씨위에만 커서 올라가게 수정하기~!@ */
	color : white;
}  
